<html ng-app="app" class="app">
<head>
  <title>Cocktail Roulette</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <link href="bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
    <script src="angular/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.min.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="webcam-directive/dist/webcam.min.js"></script>
    <script src="guests/module.js"></script>
    <script src="app.js"></script>

    <style>
    .offset-top{
      margin-top: 200px;
    }
    </style>

</head>
<body ng-controller="AppCtrl">
  <div id="wrapper">
    <div id="content" class="wrapper-center">
        <div ui-view class="container-fluid"></div>
    </div>
  </div>
 
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script src="bootstrap-material-design/dist/js/ripples.min.js"></script>
  <script src="bootstrap-material-design/dist/js/material.min.js"></script>
          <script>
            $(document).ready(function() {
                $.material.init();
            });
        </script>
</body>
</html>